.anchorPane {
    -fx-background-color: white;
}

.pane {
    -fx-background-color: #e6f9ff;
}


.button {
    -fx-background-color: #4dd2ff;
    -fx-text-fill: black;
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
    -fx-font-family: "Source Sans Pro Semibold";
    -fx-font-style: italic;
}

.table-view .table-cell {
    -fx-font-size: 15px;
    -fx-text-fill: black;
    -fx-font-family: "Source Sans Pro Semibold";
    -fx-font-style: italic;
    -fx-padding: 2px;
}

.menu-button {
    -fx-background-color: #4dd2ff;
    -fx-text-fill: black;
    -fx-border-width: 0px;
    -fx-font-family: "Source Sans Pro Semibold";
    -fx-font-style: italic;
    -fx-font-size: 14.0;
}

.menu-item {
    -fx-background-color: #4dd2ff;
    -fx-text-fill: black;
    -fx-border-width: 0px;
    -fx-text-fill: black;
    -fx-font-family: "Source Sans Pro Semibold";
    -fx-font-style: italic;
}

.label {
    -fx-text-fill: black;
    -fx-font-family: "Source Sans Pro Semibold";
    -fx-font-style: italic;
}

.text-field {
    -fx-text-fill: black;
    -fx-font-family: "Source Sans Pro Semibold";
    -fx-font-style: italic;
}

.table-view .column-header-background {
    -fx-background-color: #4dd2ff;
}
